langchain
typing
langgraph
pymongo
sqlalchemy
langchain_experimental
langchain_openai
langchain-google-genai
langchain-ollama
nest_asyncio
rich
motor
pydantic_settings
aiomysql
deepagents
pandas
numpy
matplotlib
seaborn
torch
sentence_transformers
psutil
gensim
user_agents